*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #ecf0f3;
    padding: auto auto;
}

.container {

    margin: 5em auto;
    width: 350px;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ecf0f3; 
    box-shadow: 14px 14px 20px #cbced1,
    -14px -14px 20px white;
}

.logo {
    height: 100px;
    width: 100px;
    background: url("https://img.icons8.com/color/96/000000/twitter-circled--v4.png");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1,
    -7px -7px 10px white;
}

input {
    background-color: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 15px;
    font-size: 12px;
    border-radius: 50px;

    box-shadow: inset 6px 6px 6px #cbced1,
    inset -6px -6px 6px white;
}

button {
    margin-top: 20px;
    background-color: #1da1f2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    box-shadow: 6px 6px 6px #cbced1,
    -6px -6px 6px white;
}

button:hover {
    box-shadow: none;
}
.field {
    display: flex;
    flex-direction: column;
    width: 90%;
}

h1{
    color: blue;
    font-size: 25px;
    font-weight: bolder;
    margin: 0.2em 3em;
}

p {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.btn {
    padding: 0 6rem;
    margin: 1rem auto;
    
}

